.footer {
  background-color: $dark-color;
  color: $white-color;
  &__content {
    @include page-grid;
  }

  &__list {
    @include on-tablet {
      margin-bottom: $spacing-5;
    }

    @include on-desktop-small {
      margin-bottom: $spacing-6;
    }
  }

  &__item {
    margin-bottom: $spacing-2;

    &:last-child {
      margin-bottom: 0;
    }

    &--highlight {
      font-weight: 500;
      line-height: 100%;
      color: $muted-color;
      text-transform: uppercase;
    }
  }

  &__text {
    color: $muted-color;
  }

  &__logo {
    display: block;

    padding-top: $spacing-7;

    margin-bottom: $spacing-5;

    @include on-tablet {
      margin-top: $spacing-11;

      margin-bottom: 96px;

      padding-top: 0;
    }

    @include on-desktop-small {
      margin-bottom: 61px;
    }
  }

  &__menu {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &-menu__list {
    margin-bottom: $spacing-8;

    @include on-tablet {
      margin-bottom: 104px;
    }

    @include on-desktop-small {
      margin-bottom: $spacing-6;
    }
  }

  &__icons {
    @include on-tablet {
      display: none;
    }
  }

  &-icon__list {
    display: flex;
    gap: $spacing-4;
  }

  &-icon__list--tablet {
    display: none;

    @include on-tablet {
      display: flex;
      gap: $spacing-4;
      margin-bottom: $spacing-10;
    }

    @include on-desktop-small {
      margin-bottom: $spacing-11;
    }
  }

  &__contact {
    grid-column: 1 / -1;
    display: grid;
    row-gap: $spacing-5;
    margin-bottom: $spacing-7;

    @include on-tablet {
      grid-column: span 4;
      display: inline-block;
    }

    @include on-desktop-small {
      grid-column: span 4;
      display: grid;
      grid-template-columns: subgrid;
      row-gap: $spacing-5;
      margin-bottom: $spacing-11;

      .contact-us__title {
        grid-column: 1 / -1;
      }

      .footer__list {
        grid-column: span 2;
      }

      .footer__text {
        grid-column: span 2;
      }
    }
  }
}

.contact-us__title {
  margin-bottom: 0;
  font-size: 50px;

  @include on-tablet {
    margin-top: $spacing-11;
    font-size: 57px;
    margin-bottom: $spacing-5;
  }

  @include on-desktop-small {
    margin-bottom: 0;
    font-size: $spacing-9;
  }
}
