.icon {
  display: block;
  width: $spacing-3;
  height: $spacing-3;

  &--menu {
    background-image: url(../images/icons/Icon-menu.svg);

    @include on-desktop-small {
      display: none;
    }
  }

  &--phone {
    background-image: url(../images/icons/Icon-phone.png);
  }

  &--close {
    background-image: url(../images/icons/Icon-close.svg);
  }
}
