.nav {
  &__list {
    display: none;

    @include on-desktop-small {
      display: flex;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding-left: $spacing-8;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }

    &--block {
      display: flex;
    }

    &--mod {
      @include contact-link-style;
    }
  }
}
