.title {
  margin: 0;
  margin-bottom: $spacing-3;
  width: 100%;

  font-weight: 400;
  font-size: $spacing-6;
  line-height: 85%;
  text-align: left;
  letter-spacing: -2px;
  text-transform: uppercase;

  @include on-tablet {
    font-size: $spacing-7;
  }

  @include on-desktop-small {
    font-size: $spacing-9;
  }
}
