$tablet-min-width: 576px;
$desktop-small-min-width: 1020px;
$desktop-big-min-width: 1220px;
$effectDuration: 0.3s ease;
$muted-color: #7f8096;
$primary-color: #f9512e;
$dark-color: #1c1a26;
$bg-color: #eef7ff;
$bg-hover-color: #9fd0f5;
$white-color: #fff;
$spacing-base: 8px;
$spacing-1: $spacing-base * 1; // 8px
$spacing-2: $spacing-base * 2; // 16px
$spacing-3: $spacing-base * 3; // 24px
$spacing-4: $spacing-base * 4; // 32px
$spacing-5: $spacing-base * 5; // 40px
$spacing-6: $spacing-base * 6; // 48px
$spacing-7: $spacing-base * 7; // 56px
$spacing-8: $spacing-base * 8; // 64px
$spacing-9: $spacing-base * 9; // 72px
$spacing-10: $spacing-base * 10; // 80px
$spacing-11: $spacing-base * 11; // 88px
